body{
  background-color: #2f4050;
}
.col-sm-10{
  background-color: #ffffff;
  margin-top: 20px;
  /* padding-bottom: 20px; */
}
#side_menu a{
  color: #9fb1c2;
}

#side_menu .active a{
  color: #ffffff;
  font-weight: bold;
  display: block;
}

#side_menu a:hover{
  color: #ffffff;
  background-color: #1ab364;
  font-weight: bold;
  display: block;
}
#footer{
  padding: 10px;
  border-top: 1px solid black;
  color: #eeeeee;
  background-color: #211f22;
  text-align: center;
}
